numpy>=1.21.6,<2; python_version == '3.7'
numpy>=1.23.2,<2; python_version == '3.8'
numpy>=1.23.2,<2; python_version == '3.9'
numpy>=1.23.2,<2; python_version == '3.10'
numpy>=1.24.0,<2; python_version == '3.11'
numpy>=1.26.0,<2; python_version == '3.12'
pytest>=7.0,<8.0; python_version >= '3.8'
pytest>=5.0,<6.0; python_version >= '3.7' and python_version < '3.8' and platform_system == 'Windows'
pytest>=6.0,<7.0; python_version >= '3.7' and python_version < '3.8' and platform_system != 'Windows'
